version: "3.8"

services:
  dev:
    image: archlinux:latest
    container_name: falcon-arch-dev
    tty: true
    stdin_open: true
    environment:
      # forwarded from host; compose will substitute ${SSH_AUTH_SOCK} at runtime
      - SSH_AUTH_SOCK=/ssh-agent
      - REPO=falcon-autotuning/falcon-core
      - RELEASE_TAG=v0.0.1
    volumes:
      - .:/workdir:rw
      - falcon-arch-ccache:/home/builduser/.ccache
      - ${SSH_AUTH_SOCK}:/ssh-agent
      - ~/.ssh:/home/builduser/.ssh:ro
      - ./docker-entrypoint.sh:/docker-entrypoint.sh:ro
    working_dir: /workdir
    entrypoint: ["/bin/bash", "/docker-entrypoint.sh"]

volumes:
  falcon-arch-ccache:
